.invoices__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.invoices__header-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.invoices__filter {
  display: flex;
  align-items: center;
  margin-right: 40px;
  height: 60px;
  cursor: pointer;
  position: relative;
}

.invoices__filter-menu {
  display: none;
  flex-direction: column;
  
  position: absolute;
  background-color: white;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 10px 35px -10px rgba(0, 0, 0, 0.411);
  padding: 15px;
}

.invoices__filter--active .invoices__filter-menu {
  display: flex;
}

.invoices__filter svg {
  margin-left: 20px;
}

.invoices__filter--active > svg {
  transform: rotate(180deg);
}

.invoices__filter-option {
  display: flex;
  padding: 10px;
}

.invoices__filter-option:hover .invoices__filter-box {
  border: 1px solid var(--primary-color);
}

.invoices__filter-box {
  width: 20px;
  height: 20px;
  background-color: var(--checkmark-background);
  border: 1px solid transparent;
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
}

.invoices__filter-option--active .invoices__filter-box {
  background-color: var(--primary-color);
}

.invoices__filter-check {
  display: none;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
}

.invoices__filter-option--active .invoices__filter-check {
  display: block;
}

.invoices__filter-menu h4 {
  line-height: 20px;
}

.invoice-list {
  margin-top: 50px;
}

.invoice-row {
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  padding: 15px 30px;
  margin-bottom: 20px;
  box-shadow: 0 8px 15px -20px black;
  border: 1px solid transparent;
  cursor: pointer;
}

.invoice-row:hover {
  border: 1px solid var(--primary-color);
}

.invoice-row * {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.invoice-row *:not(:last-child) {
  width: 20%;
}

.invoice-row *:nth-child(3) {
  margin-left: 30px;
}
.invoice-row *:nth-child(4) {
  display: flex;
  justify-content: flex-end;
}
.invoice-row *:nth-child(5) {
  max-width: 100px;
  white-space: nowrap;
}
.invoice-row *:nth-child(6) {
  margin-left: 20px;
}

.invoice-row__btn {
  text-transform: capitalize;
  border-radius: 5px;
  justify-content: center;
  margin-left: 30px;
  padding: .7rem 1.6rem;
  border: none;
  font-weight: bold;
}

.invoice-row__btn--paid {
  background-color: rgb(230, 255, 230);
  color: rgb(17, 219, 17);
}

.invoice-row__btn--pending {
  background-color: rgb(255, 244, 227);
  color: rgb(255, 179, 37);
}

.invoice-row__btn--draft {
  background-color: rgb(233, 233, 233);
  color: rgb(102, 102, 102);
}

.bold-text {
  font-weight: bold;
}

.invoice-empty {
  width: fit-content;
  margin: auto;
}

.invoice-empty * {
  text-align: center;
}

.invoice-empty *:nth-child(1) {
  margin-top: 100px;
  margin-bottom: 60px;
}

.invoice-empty *:nth-child(2) {
  margin-bottom: 20px;
}